/* Configuracion general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html {
    background: #000000;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

/* Clases */

.capsule {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    height: 44px;
    min-height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 22px;
    border-color: #444444;
}

.line {
    width: 160px;
    height: 2px;
    background: linear-gradient(90deg, #81535B, #AC8F94, #81535B);
    border-radius: 1px;
}

.text-acent {
    background: linear-gradient(45deg, #AC8F94, #9A4F4C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Etiquetas */

nav {
    position: sticky;
    top: 15px;
    margin: 15px 40px;
    padding: 0px 10px;
    user-select: none;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#icon {
    background-color: #444444;
    border-radius: 100%;
}

nav h4 {
    padding-left: 10px;
}

#who-i-am {
    background: radial-gradient(ellipse 150px 250px, #5c302e, black);
    margin: 0px 40px;
    display: flex;
    height: calc(100dvh - 59px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#who-i-am img {
    height: 160px;
    width: 160px;
    user-select: none;
}

#who-i-am h2 {
    padding: 15px 0px;
}

#about {
    background: radial-gradient(ellipse 150px 250px, #2a2d50, black);
    margin: 0px 40px;
    display: flex;
    height: calc(100dvh - 59px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#about img {
    height: 150px;
    width: 160px;
    object-fit: cover;
    user-select: none;
}

#about h2 {
    padding: 15px 0px;
    background: linear-gradient(90deg, #ADB4FF, #8791FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about p {
    max-width: 400px;
}

footer {
    position:sticky;
    bottom: 15px;
    margin: 15px auto;
    width: 160px;
    justify-content: center;
}

footer a {
    padding: 0px 11px;
    align-items: center;
    height: 24px;
}

footer img{
    user-select: none;
}

footer img:hover{
    opacity: 0.8;
}

@media (min-width: 1100px) {

    nav {
        width: 1000px;
        margin: 15px auto;
    }
    
}
